<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commentaris</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="/contacte">
            <!--
                TODO: afegir comentari (obligatori), telèfon (opcional), autorització per a que s'emmagatzemi el teu email, 
                select per seleccionar el motiu del teu comentari (incidencia, proposta de millora, felicitació...)
            -->
            <div class="form-row">
                <label for="email-contacte">Email: </label>
                <input type="text" name="email-contacte" required />
            </div>
            <div>
                <input type="submit" name="Fes un comentari">
            </div>
        </form>
    </div>
</body>
</html>