<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="overlap">
        <h1><span class="highlightme">Projecte Flask</span></h1>
        <h2><span class="highlightme">M3.UF2 + M4.UF3</span></h2></li>
        <form method="GET" action="/hello2">
            <input type="text" name="alias" placeholder="El teu nom" />
            <button type="submit" class="btn">Saluda!</button>
        </form>
    </div>
    <img src="/static/img/logo.png"/>
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__link btn btn--light" href="/resource/list">Clientela</a>
        </li>
        <li class="menu__item">
            <a class="menu__link btn btn--light" href="/resource2/list">Proveïdores</a>
        </li>
        <li class="menu__item">
            <a class="menu__link btn btn--light" href="/resource3/list">Empleats</a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu__item">
            <a class="menu__link btn btn--light" href="/resource4/list">Facturació</a>
        </li>
        <li class="menu__item">
            <a class="menu__link btn btn--light" href="/resource5/list">Comandes</a>
        </li>
        <li class="menu__item">
            <a class="menu__link btn btn--light" href="/resource6/list">Nòmines</a>
        </li>
    </ul>
    <footer>
        <p><a href="/contacte">Contacte</a><a href="#">Avis Legal</a><a href="#">Política de privacidad</a><a href="#">Política de cookies</a></p>
    </footer>
</body>
</html>